.movie {
    width: 300px;
    margin: 1rem;
    background-color: #072a40;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.movie img {
    max-width: 100%;
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.movie-info h3 {
    margin: 0;
}

.movie-over {
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    color: #178ca4;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(105%);
    transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over{
    transform: translateY(0%);
}

.tag {
    background-color: #f9f7f0;
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 5px;
}

.tag.purple {
    color: purple;
}

.tag.green {
    color: green;
}

.tag.orange {
    color: orange;
}

.tag.red {
    color: red;
}